//SCSS2.	git add .
.todo-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1677ff; 
  color: #fff;
}

.header-title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.todo-list-actions {
  margin-bottom: 20px;
}

.todo-form-input {
  margin-bottom: 10px;
}

.todo-list-table {
  margin-top: 20px;
  width: 100%; 
}
